.HighestBid {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    font-weight: 400;
    margin-bottom: 30px;
}

.highest-bid-title {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.highest-bid-amount {
    color: rgb(75,226,123);
    font-family: 'algo mono', monospace;
    font-size: 2.4em;
    margin-bottom: 5px;
}

.highest-bid-time {
    color: rgba(255,255,255,0.5);
    font-weight: 300;
}