.metamask-status {
    vertical-align: middle;
    font-size: 0.87em;
    color: rgb(75,226,123);
    margin-bottom: 10px;
    text-align: right;
    margin-top: -25px;
}

.metamask-locked {
    color: rgb(231,164,101);
}

.metamask-not-found {
    color: rgb(209, 102, 115);
}

.metamask-not-found:before {
    background: rgb(229, 102, 105);
    content: '';
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    margin-bottom: 2px;
    width: 6px;
    height: 6px;
    border-radius: 5px;
}

.metamask-locked:before {
    background: rgb(231,164,101);
    content: '';
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    margin-bottom: 2px;
    width: 6px;
    height: 6px;
    border-radius: 5px;
}

.metamask-connected:before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    margin-bottom: 2px;
    width: 6px;
    height: 6px;
    background: rgb(75,226,123);
    border-radius: 5px;
}