.ethereum-logo {
    width: 22px;
    vertical-align: middle;
    margin: 0 auto;
}

.account {
    background: rgba(230,230,255,0.15);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 30px;
}

.bid-form {
    background: rgba(230,230,255,0.15);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 15px;
    margin-top: 10px;
}

.bid-form-fields {
    display: grid;
    padding-top: 5px;
    grid-template-columns: 60px 1fr 140px;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
}

.bid-form-submit {
    width: 100%;
    border-radius: 6px;
    margin-top: 10px;
    background: rgb(233,196,106);
    color: rgb(38,70,82);
    padding: 10px;
}

.account-heading {
    font-family: 'system-ui', sans-serif;
    font-size: 0.9em;
    color: rgba(255,255,255,0.6);
}

.address {
    font-size: 0.7em;
}

.account-balance {
    display: inline-block;
    padding-left: 10px;
}

.balance {
    font-family: 'sf mono', monospace;
    font-size: 0.9em;
}

.account-address {
    padding-left: 3px;
    font-family: 'sf mono', monospace;
    overflow: hidden;
    text-overflow: ellipsis;
}

.field {
    display: block;
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: 0;
    border: 0;
}

.field-name {
    text-align: center;
    font-size: 0.9em;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 9px;
    background: rgba(255,255,255,0.7);
    color: rgba(0,0,0,0.7);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.field-help {
    font-size: 0.8em;
    color: rgba(255,255,255,0.5);
    padding-left: 10px;
    padding-top: 2px;
}

.form-divider {
    margin-top: 12px;
    margin-bottom: 12px;
}

.minimum-bid {
    text-align: center;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.balance-notice {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 10px;
    color: rgb(229, 102, 105);
}

.topup-notice {
    font-size: 0.85em;
    color: rgba(255,255,255,0.85);
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.4;
    padding-bottom: 10px;
}